header h1 , .course h2 , .movie h2 , .mood h2 , .Neighbors h2{
    color: cadetblue;
    font-family: 'Arial Narrow';
}

body{
    font-family: Arial, 'Times New Roman';
    background-color:darkkhaki;
    color: darkorchid;
}
footer {
    text-align: center;
}
a {
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}

p::first-letter {
    initial-letter: 1.5;
  }

  .Title{
      color: yellow;
  }
